Token:
ServerUrl: :10010
SecretKey: mysecretkey

WebHookUrl: https://tg-bot-catch.requestcatcher.com/

Db:
  ConnectionString: "localhost:1000"
  User: "gitlab_bot"
  Password: "9_9"
  Name: "gitlab_bot"